<p id="notice"><%= notice %></p>

<p>
  <strong>Date and Time:</strong>
  <%= @match.created_at %>
</p>

<ul>
  <% @match.players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
